.generated-report {
    color: rgb(0, 0, 0) !important;
}
.raw-report, .mainpage, .report_generation {
    color: #5a5a5a;
}

.content {
    height: 0;
    top: 20%;
    left: 80px;
    right: 80px;
    position: initial;
    color: rgb(0, 0, 0);
    margin-left: 40px;
    margin-right: 40px;
}

.content h1 {
    font-size: 43px;
    position: relative;
}

#response {
    padding-top: 50px;
}
