* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #acacace7;
}
.menu {
    border-bottom: 2px solid;
    border-color: #fff
}
.menu ul {
    display: inline-flex;
    margin: 50px;
}
.menu ul li {
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
}
.menu a {
    text-decoration: none;
}
.login-btn {
    top: 40px;
    right: 220px;
    color: #fff;
    position: absolute;
    border: 2px solid;
    border-radius: 20px;
    overflow: hidden;
}
.login-btn span {
    display: block;
    padding: 8px 22px;
}
.register-btn {
    top: 40px;
    right: 80px;
    color: #fff;
    position: absolute;
    border: 2px solid;
    border-radius: 20px;
    overflow: hidden;
}
.register-btn span {
    display: block;
    padding: 8px 22px;
}
