.generated-report, .raw-report, .mainpage, .report_generation {
    color: #5a5a5a;
  }
.content {
    height: 70%;
    top: 23%;
    left: 80px;
    position: absolute;
    color: #fff;
    margin-left: 40px;
    font-size: 25px;
}