* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container {
    width: 100%;
    height: 100%;
    background: #acacace7;
}
.mainpage {
    color: #fff !important;
}
.raw-report, .generated-report {
    color: #5a5a5a;
}
.content{
    height: 70%;
    top: 23%;
    left: 80px;
    position: absolute;
    color: #fff;
    margin-left: 40px;
}
.content h1 {
    font-size: 43px;
    position: relative;  
}
.content p {
    font-size: 25px;
    margin: 30px 0 30px 40px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.644);
}
