<html>
<head>
    <title>EDGAR Scraper</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='raw_report.css') }}">
</head>
<body>
    {% include 'header.html' %}
    <div class="container">
        <div class="content">
            {% if username %}
            <h1>10-K Excel Raw Report Retrieval</h1>
            <form action="" method="post">
                <div class="form-group">
                    <label>Company Name: </label>
                    <input type="text" placeholder="Walmart" name="name" class="form-control" required>
                </div>
                <br>
                <div class="form-group">
                    <label>CIK Number: </label>
                    <input type="text" placeholder="12345678" name="cik" class="form-control" required>
                </div>
                <br>
                <div class="form-group">
                    <label>Report Date: </label>
                    <input type="text" placeholder="2021-04-02" name="report_date" class="form-control" required>
                </div>
                <br>
                <button class="submit" type="submit">Submit Request</button>
                <button class="submit" type="submit">Download Request</button>
<!--                <input type="submit" name="submit_button" value="Download Request">-->
                <input type="submit" name="submit_button" value="Do Something">
                <input type="submit" name="submit_button" value="Do Something Else">
            </form>
                {% if excel_url %}
                    <p id="response">Download Link: 
                        <a href="{{excel_url}}" target="_blank">{{excel_url}}</a>
                    </p>
                {% endif %}
            {% else %}
            <h1>You have not logged in yet</h1>
            {% endif %}

        </div>
        
    </div>
</body>
</html>