<html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='register.css') }}">
</head>
<body>
    {% include 'header.html' %}
    <div class="container">
        <div class="content">
            <form action="" method="post">
                <div class="form-group">
                    <label>Username</label>
                    <input type="username" placeholder="Enter Username" name="username" class="form-control" required>
                </div>
                <br>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" placeholder="Enter Password" name="password" class="form-control" required>
                </div>
                <br>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" placeholder="Enter Email" name="email" class="form-control" required>
                </div>
                <br>
                <div class="form-group">
                    <input type="submit" name="submit" class="btn" value="Register">
                </div>
                <p>Already have an account?
                    <a href="login">Login Here</a>
                </p>
            </form>
        </div>
    </div>
</body>
</html>
