<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <b>Register</b>
<form action="" method="post">
    <div class="form-group">
        <label>Username</label>
        <input type="username" placeholder="Enter Username" name="username" class="form-control" required>
    </div>
    <br>
    <div class="form-group">
        <label>Password</label>
        <input type="password" placeholder="Enter Password" name="password1" class="form-control" required>
    </div>
    <br>
    <div class="form-group">
        <label>Password</label>
        <input type="password" placeholder="Enter Password" name="password2" class="form-control" required>
    </div>
    <br>
    <div class="form-group">
        <input type="submit" name="submit" class="btn" value="Register">
    </div>
    <p>Already have an account?
    <a href="login">Login Here</a>
    </p>

</form>
</head>
<body>
</body>
</html>