<html>
<head>
    <title>EDGAR Scraper</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='report_generation.css') }}">
</head>
<body>
    {% include 'header.html' %}
    <div class="container">
        
        <div class="content">
            {% if username %}
            <h1>Report Generation</h1>
            <form action="" method="post">
                <div class="form-group">
                    <label>Report Name: </label>
                    <input type="text" placeholder="Report Name" name="report_name" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Company Name: </label>
                    <input type="text" placeholder="Walmart" name="company" class="form-control" required>
                </div>
                <br>
                <div class="form-group">
                    <label>CIK Number: </label>
                    <input type="text" placeholder="12345678" name="cik" class="form-control" required>
                </div>
                <br>
                <div class="form-group">
                    <label>Report Date: </label>
                    <div id="checkboxes">
                        <label for="2021"><input type="checkbox" id="2021" value="2021"/>2021</label><br>
                        <label for="2020"><input type="checkbox" id="2020" value="2020"/>2020 </label><br>
                        <label for="2019"><input type="checkbox" id="2019" value="2019"/>2019 </label><br>
                        <label for="2018"><input type="checkbox" id="2018" value="2018"/>2018 </label><br>
                        <label for="2017"><input type="checkbox" id="2017" value="2017"/>2017 </label><br>
                        <label for="2016"><input type="checkbox" id="2016" value="2016"/>2016 </label><br>
                        <label for="2015"><input type="checkbox" id="2015" value="2015"/>2015 </label><br>
                    </div>
                </div>
                <br>
                <button class="submit" type="submit">Submit Request</button>
            </form>
                {% if excel_url %}
                    <div id="response"></div>
                        <p>Report ID: <a href="{{report_id}}" target="_blank">{{report_id}}</a> </p>
                        <p>Click <a href="generated_report">HERE</a> to view the generated report.</p>
                {% endif %}
            {% else %}
            <h1>You have not logged in yet</h1>
            {% endif %}
        </div>
        
    </div>
</body>
</html>