<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <b>Login</b>
<form action="" method="post">
    <div class="form-group">
        <label>Username</label>
        <input type="username" placeholder="Enter Username" name="username" class="form-control" required>
    </div>
    <br>
    <div class="form-group">
        <label>Password</label>
        <input type="password" placeholder="Enter Password" name="password" class="form-control" required>
    </div>
    <br>
    <div class="form-group">
        <input type="submit" name="submit" class="btn" value="Login">
    </div>
    <p> Don't have an account?
    <a href="register.html">Register Here</a>
    </p>

</form>
</head>
<body>
</body>
</html>